<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增数据</title>
    {# 导入框架css #}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    {# 用啥讲啥 #}
</head>
<body>

</body>
<form style="width: 400px; margin: 100px auto" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">用户名</label>
        <input type="text"
               class="form-control"
               id="exampleInputEmail1"
               aria-describedby="emailHelp"
               name="name"
        >
    </div>
    <div class="mb-3">
        <label for="chinese" class="form-label">语文</label>
        <input type="text"
               class="form-control"
               id="chinese"
               name="chinese"
        >
    </div>
    <div class="mb-3">
        <label for="math" class="form-label">数学</label>
        <input type="text"
               class="form-control"
               id="math"
               name="math"
        >
    </div>
    <div class="mb-3">
        <label for="english" class="form-label">英语</label>
        <input type="text"
               class="form-control"
               id="english"
               name="english"
        >
    </div>
    <div class="mb-3">
        <label for="total" class="form-label">总分</label>
        <input type="text"
               class="form-control"
               id="total"
               name="total"
        >
    </div>
    <button type="submit" class="btn btn-primary">提交</button>

</form>
</html>